
.fa-twitter:before { content: '\f099'; } /* '' */
.fa-facebook:before { content: '\f09a'; } /* '' */
.fa-menu:before { content: '\f0c9'; } /* '' */
.fa-reply:before { content: '\f112'; } /* '' */
.fa-instagram:before { content: '\f16d'; } /* '' */
.fa-whatsapp:before { content: '\f232'; } /* '' */
.fa-facebook-squared:before { content: '\f308'; } /* '' */